{
    "semi": false,
    "singleQuote": true,
    "typescript.preferences.quoteStyle": "single",
    "editor.tabSize": 2,
    "[typescript]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "prettier.requireConfig": false,
    "prettier.singleQuote": true,
    "editor.detectIndentation": false,
    "editor.formatOnSave": true,
    "files.associations": {
    }
}