/* 登录注册 */
#backcont {
  background-image: url('@/assets/images/index_default.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  moz-background-size: cover;
  min-height: 100vh;
}
.meituan-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-cont {
  width: 500px;
  height: 300px;
  background: #b8ece8;
  border-radius: 5px;
}

.meituan-title {
  text-align: center;
  color: #000000;
  font-size: 30px;
  padding-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.meituan-user {
  width: 400px;
  margin: 0 auto;
  padding-top: 30px;
  height: 40px;
  /* 排一排 */
  display: flex;
  /* 排在一条线 */
  align-items: center;
}
.meituan-user p {
  width: 50px;
  color: #000000;
  font-size: 16px;
}
.inptflex {
  flex: 1;
}

.reg-view{
    width: 400px;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 10px;
}

.reg-view p{
    /* 鼠标小手 */
    cursor: pointer;
    display: contents;
    border-radius: 4px;
}
.meituan-btn{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* 外边距 上10 右自动 下0 左自动 */
    margin: 10px auto 0 auto;
    font-size: 16px;
}